<!DOCTYPE html>
<html>
<head>
    <title>Mi Proyecto Django</title>
</head>
<body>
    <nav>
        <a href="{% url 'listar_productos' %}">Ver Productos</a> |
        {% if user.is_authenticated %}
            Hola, {{ user.username }} |
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        {% else %}
            <a href="{% url 'login' %}">Iniciar Sesión</a> |
            <a href="{% url 'registro' %}">Registrarse</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>