{% extends 'base.html' %}

{% load crispy_forms_tags %} {% block content %}

<h2>Historial de Movimientos</h2>

<table border="1" class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Tipo</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody class="">
        {% for mov in movimientos %}
        <tr>
            <td>{{ mov.fecha|date:"d/m/Y H:i" }}</td>
            <td>{{ mov.producto.nombre }}</td>
            <td>{{ mov.cantidad }}</td>
            <td>{{ mov.tipo }}</td>
            <td>{{ mov.usuario.username }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'listar_productos' %}" class="btn btn-secondary">Volver al catálogo</a>

{% endblock %}